<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Favorite page</title>
</head>

<body>
<div style="text-align: center;">

    <form action="#" th:action="@{/newform}" th:object="${personObject}" method="post">
        <p>Name: <input type="text" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error ex.</span>
        </p>
        <p>Surname: <input type="text" th:field="*{surname}">
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Lastname error ex.</span>
        </p>
        <p>Age: <input type="number" th:field="*{age}">
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error ex.</span>
        </p>
        <p>Mobile: <input type="text" th:field="*{mobile}">
            <span th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}">number error ex.</span>
        </p>
        <p>E-mail: <input type="email" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error ex.</span>
        </p>
        <p><button type="submit">Send</button></p>
    </form>
</div>
</body>
</html>