<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Favorite page</title>
</head>

<body>

<div style="text-align: center;">
    <h1>Hello</h1>
    <!--/*@thymesVar id="someString" type="java"*/-->
    <p th:text="${someString}"></p>

    <form action="#" th:action="@{/data}" method="post">
        <p>Name: <input type="text" th:name="name"/>
        <p>Surname: <input type="text" th:name="surname"/>
        <p>Age: <input type="text" th:name="age"/>
        <p><input type="submit" value="send"/>

    </form>
</div>
</body>
</html>
